/* #home{
    padding-left: 0;
    padding-right: 0;

    padding-top: 0;

    padding-bottom: 0;
    width: 100%;
 
} */
.link{
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 30px;

     /* position: absolute; */
}
.gca{
    width: 100%;
    height: 100%;
   

}
.blur{
    position: relative;
object-fit: cover;

}
.img6{
    width: 100%;
    height: 320px;
    filter: blur(8px);
overflow: hidden;
    /* margin-left:5px; */
    /* margin-right: 15px; */
position:relative;
z-index: 0;
padding: o;
    
}
.middle{
    width: 120px;
    height: 160px;
z-index: 1; 
position: absolute;
top: 70%;
left:34%;
}
.middle img{
    width: 100%;
    height: 100%;
    border-radius:10px;

}
.vivek{
    font-size: large;

}

.authour{
    opacity: 0.7;
}
.all-button{
    width: 100%;
    height: 50px;
    font-size: larger;
    border-radius: 10px;
    border: none;
    background-color: rgb(99, 83, 83);
    color: white;
}
.about{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
}
