/* .home-container{
    padding-left: 0;
    padding-right: 0;

    padding-top: 0;

    padding-bottom: 0;
    width: 100%;
} */
#home{
    padding-left: 15px;
    padding-right: 15px;

    padding-top:20px;

    padding-bottom: 5px;

}
